header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Rubik;
}
header img{
    height: 8vw;
}
.carousel-inner{
    height: 1080;
    width: 720;
}
footer{
    padding: 1px;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}

.tbcontainer{
    font-family: Rubik;
    flex-wrap: wrap;
    flex-flow: column;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faq{
    display:flex;
    font-family: Rubik;
    padding: 40px;
    flex-flow: column;
}

table, th, td{
    border: 1px solid black;
}