header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Rubik;
}
header img{
    height: 8vw;
}
.carousel-inner{
    height: 1080;
    width: 720;
}
footer{
    height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}